/* 
    Created on : 9 juin 2017, 14:46:34
    Author     : lbaulay
*/
/* Partie sur l'accordeon'*/
#date{
    width: 20%;
    float:left;
}
li {
    display: block;
}
.arbo>ul {
    height: auto;
}
.ui-accordion-content>li {
    padding-bottom: 6px;
}
.fichier {
    cursor: pointer;
}
.fichier:hover {
    background-color: black;
    color:white;
}
/* Partie sur le tableau */
.affichageInde{
    width: 75%;
    height: 500px;
    float: right;
    overflow: auto;
}
.tabCSV{
    border-collapse: collapse;
}
.tabCSV tr{
    border-color: black;
    border-style: solid;
}
.tabCSV td{
    border-color: #707070;
    border-style: solid;
    border-bottom: none;
    border-top: none;
    font-size: 14px;
}
.tabCSV td:hover{
    background-color: #CECECE;
}
#ligne0{
    background-color: highlight;
}
#ligne1 {
    background-color: #F9F9F9;
}
